<!--the home page template for any one visit the website-->
{% extends "header.html" %}
{% block content %}
<div class="header">
  <a class="headerword" href="{{url_for('homepage')}}">Catalog App<a class="button1" href="{{url_for('login')}}">login</a></a>
</div>
<div class="body">
  <div class="internalbody">
    <div class="categories">
      <h2>Categories</h2>
      <br>
      {% for i in categories %}
          <div class="categoriesDiv">
            <a class="category_items" href="{{url_for('categoriesfunc', category_name = i.name)}}">{{i.name}}</a>
          </div>
      {% endfor %}
    </div>
    <div class="items">
      <h2 class="itemsword">Items</h2>
      <br>
      {% for r in items %}
      {% for m in categories %}
      {% if r.categories_id == m.id %}
      <div class="categoriesDiv2">
      <a class="items_text" href="{{url_for('item_description', category_name = m.name, item_name = r.name)}}">{{r.name}}<h4 class="gray_items">({{m.name}})</h4></a>
      <br>
      <br>
    </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>


  </div>
</div>
{% endblock %}
